In [1]:
import pandas as pd
import numpy as np

from datetime import datetime
from lxml import html
import requests

import warnings
warnings.filterwarnings("ignore")

In [9]:
def wrangle_hit(file, min):
    df = pd.read_csv(file)
    df = df[(df["PA"] >= min)] # Playing time threshold

    # Required change for Splits Leaderboard compatibility
    if "Tm" in df.columns:
        df = df.rename(columns = {"Tm": "Team", "playerId": "playerid"})
    df = df.set_index("playerid")
    
    # Create rate stats
    df["BB%"] = round(df["BB"]/df["PA"],3)
    df["K%"] = round(df["SO"]/df["PA"],3)
    df["SLG%"] = round((df["1B"]+df["2B"]*2+df["3B"]*3+df["HR"]*4)/df["AB"],3)
    df["BIP%"] = round((df["AB"]+df["SF"]-df["SO"])/df["PA"],3)
    df["HIT"] = round(df["SLG%"]*df["BIP%"],3)
    
    # Find league averages and standard deviations
    league = df.agg({"SLG%" : ["mean", "std"],
                     "BIP%" : ["mean", "std"],
                     "HIT" : ["mean", "std"],
                     "BB%" : ["mean", "std"],
                     "K%" : ["mean", "std"]})
    
    # Get Z-scores for rate stats
    df["zBB%"] = round((df["BB%"]-league["BB%"]["mean"])/league["BB%"]["std"],2)
    df["zK%"] = round(-(df["K%"]-league["K%"]["mean"])/league["K%"]["std"],2)
    df["zSLG%"] = round((df["SLG%"]-league["SLG%"]["mean"])/league["SLG%"]["std"],2)
    df["zBIP%"] = round((df["BIP%"]-league["BIP%"]["mean"])/league["BIP%"]["std"],2)
    df["Z"] = round((df["HIT"]-league["HIT"]["mean"])/league["HIT"]["std"],2)
    df["wZ"] = df["Z"]*df["PA"]
    
    # Add Weighted Z to aggregate variable
    league["wZ"] = df.agg({"wZ" : ["mean", "std"]})
    
    # Get Z-score for Weighted Z
    df["wZ"] = round((df["wZ"]-league["wZ"]["mean"])/league["wZ"]["std"],2)
    

    
    return df[["Name", "Team", "PA", "BB%", "K%", "SLG%", "BIP%", "zBB%",
               "zK%", "zSLG%", "zBIP%", "Z", "wZ"]].sort_values(by="wZ", ascending=False)

hitters = wrangle_hit("../../../../Downloads/Fangraphs Leaderboard.csv", 70)
len(hitters)

415

In [10]:
def missing_team(df):
    '''
    Checks that there are 30 teams in a dataframe;
    Returns players missing team values.
    '''
    if len(df["Team"].unique()) != 30:
        return df[(df["Team"] == "- - -")]
    else:
        print("All hitters have a home!")
        
# Fill in missing team data
hitters["Team"][1177]  = "LAD" # Albert Pujols
hitters["Team"][15654] = "NYM" # Billy McKinney
hitters["Team"][15986] = "MIL" # Willy Adames
hitters["Team"][16448] = "SEA" # Jacob Nottingham
hitters["Team"][12160] = "PIT" # Ben Gamel
hitters["Team"][13324] = "ARI" # Ildemaro Vargas
hitters["Team"][15194] = "SEA" # Jake Bauers
hitters["Team"][18136] = "PIT" # Ka'ai Tom
hitters["Team"][15274] = "SFG" # Mike Tauchman
hitters["Team"][27459] = "LAD" # Yoshi Tsutsugo
hitters["Team"][12284] = "ATL" # Kevan Smith
hitters["Team"][10762] = "TOR" # Corey Dickerson
hitters["Team"][11936] = "MIA" # Joe Panik
hitters["Team"][11899] = "ATL" # Joc Pederson
hitters["Team"][16852] = "PIT" # John Nogowski
hitters["Team"][5000]  = "ATL" # Stephen Vogt
hitters["Team"][13185] = "ATL" # Orlando Arcia
hitters["Team"][15402] = "LAA" # Jack Mayfield
hitters["Team"][3648]  = "WSN" # Rene Rivera
hitters["Team"][15679] = "MIL" # Rowdy Telez
hitters["Team"][17468] = "BAL" # Kelvin Gutierrez
hitters["Team"][16404] = "BAL" # Domingo Leyba
hitters["Team"][11205] = "LAA" # Adam Eaton
hitters["Team"][15124] = "NYY" # Tim Locastro

    
missing_team(hitters)

All hitters have a home!

In [11]:
# Create splits dataframes
rhh_rhp = wrangle_hit("../../../../Downloads/Splits Leaderboard Data as RHH vs RHP.csv", 20)
rhh_lhp = wrangle_hit("../../../../Downloads/Splits Leaderboard Data as RHH vs LHP.csv", 20)
lhh_rhp = wrangle_hit("../../../../Downloads/Splits Leaderboard Data as LHH vs RHP.csv", 20)
lhh_lhp = wrangle_hit("../../../../Downloads/Splits Leaderboard Data as LHH vs LHP.csv", 10)

In [13]:
# Add preferred batting side to main dataframe
Bat = []
for i in hitters.index:
    if i in rhh_lhp.index and i in lhh_rhp.index:
        Bat.append("S")
    elif i in rhh_lhp.index or i in rhh_rhp.index:
        Bat.append("R")
    elif i in lhh_lhp.index or i in lhh_rhp.index:
        Bat.append("L")
    else:
        Bat.append("?")
        
hitters["Bat"] = Bat
# hitters.head(20)

In [39]:
# Add matchup strengths vs righties and lefties
vrhp = pd.concat([rhh_rhp, lhh_rhp])
vrhp = vrhp.rename(columns={"wZ": "vR"})
vrhp = vrhp[(vrhp.index.isin(hitters.index) == 1)]["vR"]

vlhp = pd.concat([rhh_lhp, lhh_lhp])
vlhp = vlhp.rename(columns={"wZ": "vL"})
vlhp = vlhp[(vlhp.index.isin(hitters.index) == 1)]["vL"]

if "vR" not in hitters.columns:
    hitters = pd.merge(hitters, vrhp, how="outer", left_index=True, right_index=True)
if "vL" not in hitters.columns:
    hitters = pd.merge(hitters, vlhp, how="outer", left_index=True, right_index=True).sort_values(by="wZ", ascending=False)
    
# hitters.isna().sum()

In [52]:
def get_injury_report(site):
    """
    Retrieves MLB injury information from the CBS Sports website.
    """
    
    page = requests.get(site)
    tree = html.fromstring(page.content)
    
    # Clean and organize the data
    players, positions, injuries, return_dates = [], [], [], []
    for i in range(1,20):
        player = tree.xpath(f"//*[@id='TableBase']/div/div/table/tbody/tr[{i}]/td[1]/span[2]/span/a/text()")
        [players.append(j) for j in player]

        position = tree.xpath(f"//*[@id='TableBase']/div/div/table/tbody/tr[{i}]/td[2]/text()")
        for j in position:
            positions.append(j.split()[0])

        injury = tree.xpath(f"//*[@id='TableBase']/div/div/table/tbody/tr[{i}]/td[4]/text()")
        for j in injury:
            injuries.append(j.split()[0])

        return_date = tree.xpath(f"//*[@id='TableBase']/div/div/table/tbody/tr[{i}]/td[5]/text()")
        for j in return_date:
            if j.split()[-1] == "season":
                return_dates.append(datetime.strptime("Nov 1 2021", "%b %d %Y"))
            else:
                return_dates.append(datetime.strptime(j.split()[-2]+" "+j.split()[-1]+" 2021","%b %d %Y"))
    
    # Create a dataframe with the organized data
    df = pd.DataFrame({"Name": players, "Pos": positions, "Return": return_dates,
                       "Injury": injuries})

    length = df["Return"] - datetime.today()
    length = [i.round("D") for i in length]
    df["Length"] = length
    df = df[(df["Length"] > "0 days")]
    
    return df

injury_report = get_injury_report("https://www.cbssports.com/mlb/injuries/")
# injury_report[~(injury_report["Pos"].str.endswith("P"))]

In [41]:
def remove_inj_players(df):
    """
    Removes injured players from a dataframe.
    """
    df["Inj"] = df.Name.isin(injury_report.Name)
    df = df[(df["Inj"] == 0)]
    df = df.drop("Inj", axis=1)
    return df
filtered_hitters = remove_inj_players(hitters)
# filtered_hitters

In [42]:
tm_players = {}
player_val = {}
sort_value = "wZ"
for tm in sorted(filtered_hitters["Team"].unique()):
    tm_players[tm] = []
    player_val[tm] = []
    for j, i, v in zip([x+1 for x in range(len(filtered_hitters))], filtered_hitters.index, filtered_hitters["Team"]):
        if tm == v:
            tm_players[tm].append(j)
            player_val[tm].append(filtered_hitters[sort_value][i])
            
# tm_players

In [44]:
tm_player_rks = pd.DataFrame(tm_players.values(), tm_players.keys(),
                             [j+1 for j in range(max([len(tm_players[i]) for i in tm_players.keys()]))]
                            ).fillna(0).astype(int)

# tm_player_rks.sort_values(by=3)

In [45]:
player_val_rks = round(pd.DataFrame(player_val.values(), player_val.keys(),
                             [j+1 for j in range(max([len(tm_players[i]) for i in tm_players.keys()]))]
                            ).fillna(0).astype(float).cumsum(axis=1),2)

player_val_rks.sort_values(by=7, ascending=False)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
TOR,4.56,6.72,8.53,10.29,11.40,12.43,12.81,12.62,12.39,11.68,10.67,9.65,9.65,9.65,9.65,9.65
HOU,2.46,4.80,6.89,8.81,10.28,11.24,11.41,11.26,10.47,9.50,8.44,6.70,6.70,6.70,6.70,6.70
BOS,2.85,5.17,7.47,8.53,9.40,9.69,9.40,8.75,7.93,7.01,7.01,7.01,7.01,7.01,7.01,7.01
LAD,1.90,3.74,5.53,6.83,7.92,8.48,8.49,8.37,8.15,7.22,6.02,4.61,4.61,4.61,4.61,4.61
SDP,2.52,4.55,6.36,6.96,7.47,7.49,7.45,6.97,6.41,5.38,4.28,4.28,4.28,4.28,4.28,4.28
ATL,2.23,4.21,6.01,6.58,7.06,7.23,7.32,7.14,6.83,6.41,5.94,5.39,4.82,3.99,3.99,3.99
LAA,3.00,4.80,6.15,7.17,7.27,7.36,7.32,7.25,7.11,6.95,6.30,5.48,4.55,4.55,4.55,4.55
STL,2.73,3.81,4.84,5.50,6.01,6.27,6.02,5.52,4.78,3.84,2.73,1.42,1.42,1.42,1.42,1.42
MIN,2.20,3.34,4.17,4.68,5.11,5.51,5.73,5.51,4.75,3.96,3.16,2.30,1.42,0.46,0.46,0.46
SFG,1.91,3.26,4.12,4.75,5.10,5.39,5.33,5.22,5.08,4.92,4.47,3.75,2.40,2.40,2.40,2.40
WSN,2.69,3.82,4.43,4.93,5.39,5.52,5.24,4.70,4.15,3.40,1.80,1.80,1.80,1.80,1.80,1.80
CIN,3.22,5.58,5.86,6.02,6.11,5.65,5.17,4.56,3.82,2.53,2.53,2.53,2.53,2.53,2.53,2.53
CLE,2.39,3.39,4.36,4.94,5.02,5.10,5.11,4.56,3.97,3.28,2.14,0.83,0.83,0.83,0.83,0.83
BAL,2.79,3.60,4.10,4.47,4.65,4.68,4.38,3.65,2.90,2.05,1.19,0.30,-0.64,-1.59,-2.70,-4.08
PIT,2.34,4.19,4.36,4.51,4.62,4.44,4.24,3.52,2.74,1.80,0.75,0.75,0.75,0.75,0.75,0.75
KCR,1.79,3.08,3.81,4.46,4.73,4.38,3.95,3.43,2.54,1.52,-0.36,-0.36,-0.36,-0.36,-0.36,-0.36
OAK,3.17,3.85,4.01,4.15,4.11,3.96,3.76,3.29,2.72,2.12,1.41,0.02,0.02,0.02,0.02,0.02
PHI,1.10,2.06,2.89,3.13,3.32,3.50,3.46,3.32,2.93,2.52,1.43,1.43,1.43,1.43,1.43,1.43
ARI,1.67,3.04,3.49,3.83,3.79,3.67,3.23,2.19,1.07,-0.15,-0.15,-0.15,-0.15,-0.15,-0.15,-0.15
MIL,1.24,1.92,2.51,3.08,3.30,3.21,2.91,2.23,1.52,0.59,-0.64,-2.20,-4.17,-4.17,-4.17,-4.17
MIA,1.83,2.45,3.07,3.11,3.08,3.00,2.74,2.39,1.55,0.48,-0.66,-1.94,-3.26,-3.26,-3.26,-3.26
CHC,1.06,1.72,2.04,2.16,2.24,2.07,1.84,1.34,0.82,0.27,-0.36,-2.02,-2.02,-2.02,-2.02,-2.02
SEA,1.96,2.63,3.03,3.15,3.04,2.76,1.81,0.73,-0.39,-1.56,-2.81,-4.17,-4.17,-4.17,-4.17,-4.17
COL,0.74,1.10,1.35,1.48,1.60,1.67,1.59,1.42,0.21,0.21,0.21,0.21,0.21,0.21,0.21,0.21
CHW,1.11,1.62,2.03,2.28,2.44,2.12,1.39,0.65,-0.31,-1.29,-1.29,-1.29,-1.29,-1.29,-1.29,-1.29
DET,1.78,2.14,2.21,2.12,1.89,1.46,0.78,0.04,-0.71,-1.49,-2.39,-3.32,-4.27,-5.33,-5.33,-5.33
NYM,1.07,1.24,1.13,0.97,0.79,0.59,0.37,0.01,-0.44,-1.09,-2.06,-3.23,-3.23,-3.23,-3.23,-3.23
TBR,0.69,1.36,1.23,1.04,0.82,0.35,-0.22,-0.86,-1.61,-2.40,-3.24,-4.85,-4.85,-4.85,-4.85,-4.85
TEX,1.15,1.50,1.54,1.23,0.74,0.17,-0.44,-1.07,-1.78,-2.55,-3.44,-3.44,-3.44,-3.44,-3.44,-3.44
NYY,0.16,0.14,0.12,0.02,-0.15,-0.92,-1.99,-3.53,-3.53,-3.53,-3.53,-3.53,-3.53,-3.53,-3.53,-3.53

In [53]:
team_lookup = "ATL"
filtered_hitters[(filtered_hitters["Team"] == team_lookup)].sort_values(by="wZ", ascending=False)

,Name,Team,PA,BB%,K%,SLG%,BIP%,zBB%,zK%,zSLG%,zBIP%,Z,wZ,Bat,vR,vL
playerid,,,,,,,,,,,,,,,,
16556,Ozzie Albies,ATL,385,0.078,0.182,0.496,0.732,-0.33,0.85,1.11,0.94,1.51,2.23,S,1.46,2.82
18401,Ronald Acuna Jr.,ATL,360,0.136,0.236,0.596,0.603,1.26,0.02,2.26,-0.69,1.45,1.98,R,2.31,1.07
5361,Freddie Freeman,ATL,402,0.142,0.179,0.507,0.674,1.43,0.90,1.24,0.20,1.19,1.80,L,2.66,0.92
18360,Austin Riley,ATL,368,0.101,0.253,0.473,0.628,0.30,-0.25,0.85,-0.38,0.51,0.57,R,1.38,-0.40
18314,Dansby Swanson,ATL,377,0.069,0.273,0.451,0.647,-0.58,-0.56,0.59,-0.14,0.44,0.48,R,0.83,0.33
11899,Joc Pederson,ATL,298,0.077,0.248,0.432,0.658,-0.36,-0.17,0.38,0.00,0.31,0.17,L,0.52,0.52
8418,Ehire Adrianza,ATL,148,0.108,0.182,0.425,0.696,0.49,0.85,0.30,0.48,0.50,0.09,S,0.30,-0.48
18721,Guillermo Heredia,ATL,225,0.089,0.249,0.419,0.636,-0.03,-0.18,0.23,-0.28,0.04,-0.18,R,-0.26,0.40
5000,Stephen Vogt,ATL,155,0.116,0.239,0.397,0.639,0.71,-0.03,-0.03,-0.24,-0.14,-0.31,L,-0.27,0.07
5486,Abraham Almonte,ATL,127,0.181,0.189,0.379,0.630,2.50,0.74,-0.23,-0.35,-0.37,-0.42,S,-0.16,-0.62
5409,Pablo Sandoval,ATL,79,0.127,0.278,0.373,0.570,1.01,-0.63,-0.30,-1.11,-0.76,-0.47,L,-0.37,NaN
4922,Ender Inciarte,ATL,89,0.079,0.247,0.316,0.652,-0.31,-0.15,-0.95,-0.07,-0.87,-0.55,L,-0.73,0.22
20503,William Contreras,ATL,158,0.082,0.316,0.387,0.589,-0.22,-1.22,-0.14,-0.87,-0.53,-0.57,R,-0.34,-0.53
12284,Kevan Smith,ATL,78,0.115,0.308,0.250,0.564,0.68,-1.10,-1.71,-1.19,-1.85,-0.83,R,-0.73,-0.78

In [56]:
### TODO: Get playerid from href in html code for smoother
###       transition importing stats to lineups.

def get_lineups(site):
    """
    Creates a nested dictionary containing each
    team's starting pitcher and starting lineup.
    """
    # Retrieve information from site
    page = requests.get(site)
    tree = html.fromstring(page.content)
    
    # team, pitcher, & hitter variables provide html code values from the site
    lineups = {}
    for MU in range(1,20): # matchup variable
        for h_a in range(1,3): # home/away variable
            team = tree.xpath(f"/html/body/div[1]/div/main/div[2]/div[{MU}]/div[2]/div[1]/div/div[{h_a}]/div/text()")
            pitcher = tree.xpath(f"/html/body/div[1]/div/main/div[2]/div[{MU}]/div[2]/div[2]/ul[{h_a}]/li[1]/div[1]/a/text()")

            if team != []:
                lineups[team[0]] = {"SP": "", "lineup": []}
                
            if pitcher != []:
                lineups[team[0]]["SP"] += pitcher[0]
                
            for order in range(3,20): # batting order variable
                hitter = tree.xpath(f"/html/body/div[1]/div/main/div[2]/div[{MU}]/div[2]/div[2]/ul[{h_a}]/li[{order}]/a")
                
                if (hitter != []) and "(order%2 == 1)": # values start at 3rd html list and move up by two..sometimes
                    lineups[team[0]]["lineup"].append(hitter[0].get("title"))
        
    return lineups


lineups = get_lineups("https://www.rotowire.com/baseball/daily-lineups.php")
team = "BAL"
players = []
for tm in lineups:
    for player in lineups[tm]["lineup"]:
        if player != lineups[tm]["SP"]:
            players.append(player)
            
players = pd.Series(players)
missing_players = players[(players.isin(hitters["Name"]) == 0)]
lineups[team]["lineup"]

['Cedric Mullins',
 'Austin Hays',
 'Trey Mancini',
 'Ryan Mountcastle',
 'Anthony Santander',
 'Ramon Urias',
 'Pedro Severino',
 'Pat Valaika',
 'Kelvin Gutierrez']

In [16]:
hitters["Name"][14773] = "Yu Chang"
hitters["Name"][16885] = "Joshua Fuentes"
hitters["Name"][12984] = "Jackie Bradley"
hitters["Name"][18401] = "Ronald Acuna"
hitters["Name"][19709] = "Fernando Tatis"
hitters["Name"][19611] = "Vladimir Guerrero"
hitters["Name"][17929] = "Cedric Mullins"
hitters["Name"][19238] = "Lourdes Gurriel"
hitters["Name"][18126] = "LaMonte Wade"
hitters["Name"][11489] = "Michael Taylor"
hitters["Name"][16542] = "Shed Long"

In [18]:
hitters[(hitters["Name"] == "LaMonte Wade")]

,Name,Team,PA,BB%,K%,SLG%,BIP%,zBB%,zK%,zSLG%,zBIP%,Z,wZ,Bat,vR,vL,Inj
playerid,,,,,,,,,,,,,,,,,
18126,LaMonte Wade,SFG,110,0.082,0.182,0.505,0.7,-0.19,0.85,1.21,0.55,1.36,0.52,L,1.27,-0.77,False